<!-- Footer area -->
<footer class="footer">
    <!-- Contact form area -->
    <form class="contact" action="/contact" method="post">
        <fieldset>
            <legend class="legend">Send your email address, Kate is willing to contact you.</legend>
            <div class="form">
                <div class="name">
                    <label for="name">Name</label>               
                    <input id="name" type="text" name="name" placeholder="Name" required minlength="4" maxlength="20">
                </div>
                <div class="email">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" name="email" placeholder="E-mail" maxlength="50" >
                </div>
                <div class="button">
                    <button type="submit" id="submit" class="submit" value="submit"> Send</button> 
                </div>
            </div>
        </fieldset>
    </form>
    <!-- Copyright -->
    <div class="copyright"> &copy; 2019 KATE KO. All rights reserved.</div>
</footer>
</body>
</html>