

        <section class="section">
            <div>
                <div>
                  <p> Thank you for asking </p>
                  <p> name: <%= nameD %> </p>
                  <p> email: <%= emailD %> </p>
                </div>
            </div>
        </section>
    </div>


