<%- include partials/header %>
        <section class="section">
            <div class="container">
                <div class="intro">
                    <h1>Kate Ko is..</h1>
                    <p>10 years experience as a Web Designer and Project Manager, PMP certified, worked in the mobile and web industry.<br> Skilled in UX strategy experience, including: requirement gathering, prototyping, project management, <br> and quality assurance. Strong problem-solving abilities. Can work under pressure within challenging environments.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class='card-row' id='content'>
                </div>
            </div>
        </section>
    </div>

<%- include partials/mainJS %>
<%- include partials/footer %>